<link rel="stylesheet" href="css/menu.css">
<link rel="stylesheet" href="css/cwas.css">
<div class="start">
    <h1>Chat with a stranger.</h1>
    <button class="startChat">New Chat</button>
</div>
<div style="display: none;" class="container">
    <div class="chat"></div>
    <div class="controls">
        <button class="newChat">New Chat</button>
        <input placeholder="Type something..." class="input">
        <button class="send">
            <img src="assets/send.png">
        </button>
    </div>
</div>
<script src="js/cwas.js"></script>